scripts/

# Generated Themes Directory
src/main/resources/doki/themes

# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
build/
classes/

./club_members/

#gradle.properties
*.icls

masterThemes/
masterThemes
_masterThemes/
.qodana/
.intellijPlatform/
.kotlin
doki-build-source-jvm/
doki-build-source/

# Generated doki theme variant templates
doki-build-plugin/assets/themes/**/*.islands*.json

# Generated base templates
doki-build-plugin/assets/templates/*.islands*.json
