scripts/

# Generated Themes Directory
src/main/resources/doki/themes

# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
build/*
doki-build-plugin/build/
# Keeps doki-build-plugin files
!build/plugin/
!build/plugin/**
classes/

./club_members/

#gradle.properties
*.icls

masterThemes/
masterThemes
_masterThemes/
.qodana/
.intellijPlatform/
.kotlin
doki-build-source-jvm/
doki-build-source/

# Generated doki theme variant templates
doki-build-plugin/assets/themes/**/*.json
doki-build-plugin/assets/themes/**/!*.darcula*.json

# Generated base templates
doki-build-plugin/assets/templates/*.islands*.json

# Generated plugins.xml
src/main/resources/META-INF/plugin.xml